.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  /* border: solid 1px red; */
  z-index: 1;
  background-color: #ffff;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 5px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.navbar button:hover {
  background: #fff4f2;
}
.navbar .active {
  padding-bottom: 2px;
  border-bottom: 1.5px solid #49557e;
}
.navbar li {
  cursor: pointer;
}
.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
@media only screen and (max-width: 1050px) {
  .navbar-logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
  }
  .navbar-right img {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px;
    width: 80px;
    font-size: 15px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 900px) {
  .logo {
    width: 120px !important;
  }
  .navbar-menu {
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
  }
  .navbar-right img {
    width: 20px;
  }
  .navbar-right button {
    padding: 8px;
    font-size: 15px;
    font-weight: 600;

    width: 80px;
  }
}

@media only screen and (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
  .navbar-right button {
    padding: 8px;
    font-size: 15px;
    font-weight: 600;
    width: 80px;
  }
}

@media only screen and (max-width: 550px) {
  .navbar-menu {
    display: none;
  }
  .navbar-right button {
    padding: 8px;
    font-size: 15px;
    width: 80px;
    /* margin-right: 20px; */
  }
}
